## QUESTION 2 FUNCTIONALITY 2

In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
heros = pd.read_csv('C:/Users/Chiara Sammarco/Desktop/Università/DATA SCIENCE - Magistrale/Esami da fare/ALGORITHMIC METHODS IN DATA MINING/HW 5/edges.csv')

In [3]:
G = nx.Graph()

In [4]:
G = nx.from_pandas_edgelist(heros, 'comic', 'hero')

In [5]:
nx.info(G)

C:\Users\Chiara Sammarco\AppData\Local\Temp\ipykernel_3560\1064119803.py:1: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  nx.info(G)

'Graph with 19090 nodes and 96104 edges'

In [6]:
# Top N heros. We choose N = 100.

N = 100

In [7]:
degrees = G.degree(list(set(heros.hero)))

In [14]:
# Computing the degree for each superhero in our graph to get the top superheros (which are the top 
# N heroes who have appeared in the most number of comics).

# list_of_degrees is the list of every degree

list_of_degrees = []
for i in list(set(heros.hero)):
    output = degrees[i], i
    list_of_degrees.append(output)
list_of_degrees = sorted(list_of_degrees, key=lambda data: data[0], reverse=True)

In [87]:
only_names = []
for i in range(len(list_of_degrees)):
    only_names.append(list_of_degrees[i][1])

In [88]:
only_degrees = []
for i in range(len(list_of_degrees)):
    only_degrees.append(list_of_degrees[i][0])

In [89]:
# We get the top N heros after sorting the list_of_degrees and getting only the first N elements.

top_N_heros = list_of_degrees[:N] # 100 is our N number (but whatever number works)

In [90]:
def standardizedDegreeCentrality(degrees, N):
    output = []
    for i in degrees:
        output.append(i/(N-1))
    return output

In [91]:
# To make things easier we get the list of ONLY the names of the top N heros.

names_heros = []
for i in range(len(top_N_heros)):
    names_heros.append(top_N_heros[i][1])

In [92]:
# We create a new dataframe with 2 columns: one with the name of the superhero/comic and another with the centrality measure.

df = pd.DataFrame()

In [93]:
df['superhero'] = only_names

In [94]:
# Computing the DegreeCentrality on the (entire) graph.

df['centrality'] = standardizedDegreeCentrality(only_degrees, len(G.nodes()))

In [95]:
df

                    superhero  centrality
0     SPIDER-MAN/PETER PARKER    0.082613
1             CAPTAIN AMERICA    0.069883
2         IRON MAN/TONY STARK    0.060244
3        THING/BENJAMIN J. GR    0.050448
4        THOR/DR. DONALD BLAK    0.050081
...                       ...         ...
6434              RAMROD III/    0.000052
6435                MEDUSA II    0.000052
6436             RUIZ, RHYTHM    0.000052
6437            STEWART, MARY    0.000052
6438                   QUASAR    0.000052

[6439 rows x 2 columns]

In [96]:
# And now we only get the centralities for the top N heros.

centralities_topHeros = []
for i in range(len(df)):
    if df.superhero[i] in names_heros:
        output = df.centrality[i], df.superhero[i]
        centralities_topHeros.append(output)

In [97]:
# Example for 'The given node's value'

node = 'VISION'
for i in range(len(centralities_topHeros)):
    if centralities_topHeros[i][1] == node:
        print(centralities_topHeros[i][0])

0.031588873173031586

In [98]:
df_1 = pd.DataFrame(centralities_topHeros)

In [99]:
df_1['centrality'] = df_1[0]

In [100]:
df_1['hero'] = df_1[1]

In [101]:
df_1 = df_1.drop(df_1.columns[0], axis=1)

In [102]:
df_1 = df_1.drop(df_1.columns[0], axis=1)

In [103]:
# We create a new dataframe with only the centralities of the top N heros and their names.

df_1

    centrality                     hero
0     0.082613  SPIDER-MAN/PETER PARKER
1     0.069883          CAPTAIN AMERICA
2     0.060244      IRON MAN/TONY STARK
3     0.050448     THING/BENJAMIN J. GR
4     0.050081     THOR/DR. DONALD BLAK
..         ...                      ...
95    0.009010     MIRAGE II/DANIELLE M
96    0.008853       TIGRA/GREER NELSON
97    0.008748     SPIDER-MAN CLONE/BEN
98    0.008644              PAGE, KAREN
99    0.008539                     ZABU

[100 rows x 2 columns]

In [85]:
# I don't know if we also need this, but I'll add it just in case

avg_centrality = sum(df_1['centrality'])/N # Average of all the centralities
centrality_node = centralities_topHeros[index_node][0] # Centrality for the given node