## QUESTION 2 FUNCTIONALITY 2

In [5]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
heros = pd.read_csv('C:/Users/Chiara Sammarco/Desktop/Università/DATA SCIENCE - Magistrale/Esami da fare/ALGORITHMIC METHODS IN DATA MINING/HW 5/edges.csv')

In [7]:
G = nx.Graph()

In [8]:
G = nx.from_pandas_edgelist(heros, 'comic', 'hero')

In [9]:
nx.info(G)

C:\Users\Chiara Sammarco\AppData\Local\Temp\ipykernel_8304\1064119803.py:1: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  nx.info(G)

'Graph with 19090 nodes and 96104 edges'

In [10]:
# Top N heros. We choose N = 100.

N = 100

In [11]:
degrees = G.degree(list(set(heros.hero)))

In [12]:
# Computing the degree for each superhero in our graph to get the top superheros (which are the top 
# N heroes who have appeared in the most number of comics).

# list_of_degrees is the list of every degree

list_of_degrees = []
for i in list(set(heros.hero)):
    output = degrees[i], i
    list_of_degrees.append(output)
list_of_degrees = sorted(list_of_degrees, key=lambda data: data[0], reverse=True)

In [13]:
# We get the top N heros after sorting the list_of_degrees and getting only the first N elements.

top_N_heros = list_of_degrees[:N] # 100 is our N number (but whatever number works)

In [14]:
centrality = pd.DataFrame.from_dict(nx.degree_centrality(G), orient='index')

In [15]:
# To make things easier we get the list of ONLY the names of the top N heros.

names_heros = []
for i in range(len(top_N_heros)):
    names_heros.append(top_N_heros[i][1])

In [16]:
# We create a new dataframe with 2 columns: one with the name of the superhero/comic and another with the centrality measure.

df = pd.DataFrame()

In [17]:
df['superhero'] = G.nodes()

In [18]:
# Computing the DegreeCentrality on the (entire) graph.

df['centrality'] = pd.DataFrame.from_dict(nx.degree_centrality(G), orient='index')

In [19]:
# And now we only get the centralities for the top N heros.

centralities_topHeros = []
for i in list(df.superhero):
    if i in names_heros:
        output = df.centrality[i], i
        centralities_topHeros.append(output)

In [31]:
# Example for 'The given node's value'

node = 'VISION'
index_node = sorted(names_heros).index(node)
centralities_topHeros[index_node]

(0.031588873173031586, 'VISION')

In [21]:
df_1 = pd.DataFrame(centralities_topHeros)

In [22]:
df_1['centrality'] = df_1[0]

In [23]:
df_1['hero'] = df_1[1]

In [24]:
df_1 = df_1.drop(df_1.columns[0], axis=1)

In [25]:
df_1 = df_1.drop(df_1.columns[0], axis=1)

In [26]:
# We create a new dataframe with only the centralities of the top N heros and their names.

df_1

    centrality                  hero
0     0.023259  ANGEL/WARREN KENNETH
1     0.029389  ANT-MAN/DR. HENRY J.
2     0.013358    BALDER [ASGARDIAN]
3     0.013254  BANNER, BETTY ROSS T
4     0.011682  BANSHEE/SEAN CASSIDY
..         ...                   ...
95    0.011787  WOLFSBANE/RAHNE SINC
96    0.042904       WOLVERINE/LOGAN
97    0.020431  WONDER MAN/SIMON WIL
98    0.011577                  WONG
99    0.008539                  ZABU

[100 rows x 2 columns]

In [33]:
# I don't know if we also need this, but I'll add it just in case

avg_centrality = sum(df_1['centrality'])/N # Average of all the centralities
centrality_node = centralities_topHeros[index_node][0] # Centrality for the given node